@use "variables" as *;
@use "cards" as *;

/* =============================
   LISTING
   ============================= */
.armor-card {
    p {
        @include card-info;
    }
}

/* =============================
   DETAIL
   ============================= */

.armor-detail-infos {
    @include detail-info;

    display: flex;
    flex-direction: column;
    gap: .35rem;

    p {
        @include detail-info-row;

        display: grid;
        grid-template-columns: 7rem 1fr;
    }
}

@media (min-width: $breakpoint-tablet) {
    .armor-detail-infos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: .35rem 2rem;
    }
}
