@use "variables" as *;
@use "cards" as *;

/* =============================
   LISTING
   ============================= */

// Rien de spécifique

/* =============================
   ORIGINS
   ============================= */

.feat-origins {
    @include badge-list;

    margin-bottom: 0;
}

.feat-origin {
    a {
        @include badge;
        
        &:hover {
            background: $color-primary;
        }
    }
}

.feat-prerequisite {
    margin-bottom: 0;

    color: $color-text-muted;

    font-size: .9rem;
}

