@use "variables" as *;
@use "cards" as *;

.item-category-grid {
    @include card-grid(4);

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 7rem;
        padding: 1rem;
        text-decoration: none;
        transition: .15s ease;

        h2 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 700;
        }

        &:hover {
            box-shadow: $shadow-card;

            h2 {
                color: $color-primary;
            }
        }
    }
}
