@use "variables" as *;
@use "cards" as *;

.item-category-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .card {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 7rem;
        padding: 1rem;

        text-decoration: none;

        transition: .15s ease;

        h2 {
            margin: 0;
            font-size: 1.25rem;
        }

        &:hover {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .08);

            h2 {
                color: $color-primary;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .item-category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: $breakpoint-desktop) {
    .item-category-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
