$breakpoint-tablet: 640px;
$breakpoint-desktop: 960px;

$container-width: 1200px;

$font-body: "Inter", sans-serif;
$font-nav: "Righteous", "Inter", sans-serif;

$color-background: #f9f9f9;
$color-text: #212529;

$color-topbar: #000000d9;
$color-navbar: #ffffffcc;

$color-card-border: #d9d9d9;
$color-card-border-hover: #bdbdbd;

$color-footer: #111;
$color-footer-text: #ddd;

$color-primary: #495057;