@use "variables" as *;
@use "cards" as *;

/* =============================
   LISTING
   ============================= */

.weapon-card {

    .weapon-card-info {
        @include card-info;

        strong {
            grid-column: 1;
        }

        > :not(strong) {
            grid-column: 2;
        }
    }

    .weapon-properties {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .weapon-property {
            display: block;

            &:not(:last-child)::after {
                content: ",";
            }
        }
    }
}

/* =============================
   WEAPON NAVIGATION
   ============================= */

.weapon-detail-infos {
    @include detail-info;

    display: flex;
    flex-direction: column;
    gap: .35rem;

    .weapon-detail-info {
        @include detail-info-row;

        display: grid;
        grid-template-columns: 7rem 1fr;

        .weapon-property {
            display: block;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .weapon-detail-infos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: .35rem 2rem;
    }
}
